#!/bin/bash

#layout_pipenv
# activate virtualenv if possible
#set -e;
#pipenv shell || EXIT_CODE=$? && true;
#echo $EXIT_CODE


JQ=`which jq`

if [[ -z "$JQ" ]]; then
  echo "jq needs to be installed.   https://stedolan.github.io/jq/download/ "
fi

if [ -d ./bin ]; then
  PATH_add bin
fi

# Copy env.dist to .env if necessary
if [ ! -f .env ]; then
  cp ./env.dist ./.env
  echo "New Enviroment, edit the .env with user details"
fi

# Load everything defined in .env
set -o allexport; source .env; set +o allexport

if [ ! -f aws.env ]; then
  echo "WARNING: Must create infastructure with terraform"
else
  set -o allexport source aws.env; set +o allexport
fi
